@font-face {
  font-family: retro-font;
  src: url("../assets/font/retro_gaming.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 90%;
  background-color: rgba(52, 58, 64, 0.8);
  border: 5px solid rgba(34, 34, 34, 1);
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
  position: relative;
}

.game-over-wrapper {
  text-align: center;
  background-color: rgba(52, 58, 64, 0.8);
  border: 5px solid rgba(34, 34, 34, 1);
  border-radius: 10px;
  padding: 20px;
  overflow: auto;
}

button.back-button,
button.check,
button.pause-button,
button.main-menu,
button.restart-button {
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border-radius: 5px;
}

button.button-menu {
  background-color: rgba(34, 34, 34, 1);
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

button.locked > img {
  filter: grayscale(100%);
}

/* about */

.score-content,
.debugging-content,
.about-content,
.read-tutorial-content,
.how-to-play-content {
  padding: 0 0 10px 0;
  color: #f8f9fa;
  font-family: retro-font;
  text-align: justify;
  text-justify: inter-word;
  font-size: 14px;
  overflow: auto;
}

.score-content > h2,
.about-content > h2,
.read-tutorial-content > h2,
.how-to-play-content > h2,
.how-to-play-content h3,
.debugging-content > h3 {
  margin: 20px 0;
  text-align: center;
}

.about-content > div {
  text-indent: 30px;
}

.read-tutorial-content ul,
.how-to-play-content ul {
  padding: 0 20px;
}

.read-tutorial-content a {
  color: #f8f9fa;
}

.debugging-content > label {
  text-align: left;
  display: block;
  margin: 20px 0;
}

.debugging-input {
  width: 100%;
  display: flex;
}

.debugging-input > input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.debugging-input > input:focus {
  outline: 0;
}

.debug-correct {
  text-align: center;
  margin: 10px 0;
  color: #28a745;
  font-size: 16px;
}
.debug-incorrect {
  text-align: center;
  margin: 10px 0;
  color: #dc3545;
  font-size: 16px;
}
